.features_list {
    display: flex;
    flex-direction: column;

    @media (width < 768px) {
        gap: 72px;
    }

    @media (768px <= width) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    @media (1158px <= width) {
        justify-content: space-between;
        gap: 24px;
    }
}

.features_item {
    @media (768px <= width < 1158px) {
        flex-basis: calc((100% - 24px) / 2);
    }

    @media (1158px <= width) {
        width: 264px;
    }
}

.features_wrap {
    @media (width <= 1158px) {
        display: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background: #F4F4FD;
    border-radius: 4px;
}

.feature_title {
    @media (width < 767px) {
        text-align: center;
    }

    @media (width < 1158px) {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
    
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--card-title-color);
}

.feature_text {
    @media (width < 1158px) {
        font-weight: 500;
    }

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--feature-color-text);
}