.mobile_menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;

    background-color: #FFF;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

    opacity: 0;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_menu_container.is-open {
    opacity: 1;
    visibility: visible;
}

.burger_menu_btn {
    padding: 24px 0;
    background-color: transparent;
    border: none;

    @media (768px <= width) {
        display: none;
    }
}

.burger_menu_icon {
    stroke: #2E2F42;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger_menu_btn:hover .burger_menu_icon {
    stroke: #404bbf;
}

.mobile_menu_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile_menu_link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition:  250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.mobile_menu_link:hover {
    color: #404bbf;
}

.mobile_menu_link_current {
    color: #404BBF;
}

.mobile_links_wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile_link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile_link_tel {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.social_list.mobile_social_list {
    justify-content: space-between;

    @media (420px <= width) {
        gap: 56px;
    }
}

.mobile_close_menu_btn {
    position: fixed;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_close_menu_btn:hover,
.mobile_close_menu_btn:focus {
    background-color: #404bbf;
}

.mobile_close_menu_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile_close_menu_btn:hover .mobile_close_menu_icon,
.mobile_close_menu_btn:focus .mobile_close_menu_icon {
    fill: #FFFFFF;
}