.section {
    padding-top: var(--section-padding-top-mobile);
    padding-bottom: var(--section-padding-bottom-mobile);

    @media (1158px <= width) {
        padding-top: var(--section-padding-top-desktop);
        padding-bottom: var(--section-padding-bottom-desktop);
    }
}

.section_hidden {
    @media (width < 1158px) {
        display: none;
    }
}

.section_no_padding_top {
    padding-top: 0;
}

.section_title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--section-title-color);
    text-transform: capitalize;
}